<div class="sidebox">
    <h3>{{ _('Edit History')}}
    <div class="panel">
    </h3>
    
    <div class="sidebox-content">
        <table class= "table">
          <thead>
            <tr>
                <th>STT</th>
                <th>{{ _('User')}}</th>
                <th>{{ _('Points')}} </th>
                <th>{{ _('Time')}} </th>
            </tr>
          </thead>
          <tbody>
            
            {% if submission.points_history.count() > 0 %}
              {% for item in submission.points_history.order_by('date').all() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.reviewer.user.username }}</td>
                    <td>{{ item.points }}</td>
                    <td>{{ relative_time(item.date)}}</td>
                </tr>
              {% endfor %}
            {% else %}
                <tr>
                  <td  colspan="4">
                    <span>{{_('No data')}}</span>
                  </td>
                </tr>
            {% endif %}
              
          </tbody>
            
        </table>
    </div>
</div>
<script>
    var acc = document.getElementsByClassName("accordion");
    for (var i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");
        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "none") {
          panel.style.display = "block";
        } else {
          panel.style.display = "none";
        }
      });
    }
  </script>