{% extends "base.html" %}
{% block media %}
    <style>
        .submission-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
        }
        .point-label {
            display: block;
            margin: auto 8px;
            font-size: 1rem;
        }
        .point-input:disabled {
            background-color: #f8f9fa;
            cursor: not-allowed;
        }
        .point-container {
            display: flex;
        }

        .point-container input {
            width: 60px;
        }
    </style>
{% endblock %}
{% block header %}
{% with date=submission.date|date(_('N j, Y, g:i a')), can_edit=submission.problem.is_editable_by(request.user), can_review=submission.problem.is_reviewable_by(request.user) %}
        <div class="submission-info">
            {% if submission.problem.is_manual_test %}
                {% if can_review %}    
                    <form method="POST" action="{{url('review_point')}}" class="point-container">
                        {% csrf_token %}
                        <span class="point-label">{{_('Point: ')}}</span>
                        <input type="hidden" name="submission_id" value="{{submission.id}}">
                        <input id="point" type="number" name="point" value="{{submission.case_points|floatformat or '0'}}">
                        <span class="point-label">/{{submission.problem.points|floatformat}}</span>
                        <button type="submit">{{_('Save')}}</button>
                    </form>
                {% else %}
                    <div class="point-container">
                        {% csrf_token %}
                        <span class="point-label">{{_('Point: ')}}</span>
                        <input class="point-input" disabled type="text" name="point" value="{{submission.case_points|floatformat or ''}}">
                        <span class="point-label">/{{submission.problem.points|floatformat}}</span>
                    </div>
                {% endif %}
            {% endif %}
            <span class="submission-date">
                {% if can_edit and submission.judged_on %}
                    {{ _('%(date)s on %(judge)s', date=date, judge=submission.judged_on.name) }}
                {% else %}
                    {{ date }}
                {% endif %}
                <br>
                <span>{{ submission.language }}</span>
                {% if can_edit %}
                    [<a href="{{ url('admin:judge_submission_change', submission.id) }}">{{ _('Admin') }}</a>]
                {% endif %}
            </span>
        </div>
{% endwith %}
{% endblock %}
