{% if submission.contest_or_none %} {% set prefix_length =
submission.contest_or_none.problem.output_prefix_override %} {% else %} {% set
prefix_length = None %} {% endif %} {% set is_pretest = submission.is_pretested
%} {% if submission.status != 'IE' %} {% if submission.status == 'QU' %}

<h4>
  {{ _('We are waiting for a suitable judge to process your submission...') }}
</h4>
{% elif submission.status == 'P' %}
<h4>{{ _('Your submission is being processed...') }}</h4>
{% elif submission.status == 'CE' %}
<h3>{{ _('Compilation Error') }}</h3>
<pre>{{ submission.error|ansi2html }}</pre>

{% else %} {% if submission.error %}
<h3>{{ _('Compilation Warnings') }}</h3>
<pre>{{ submission.error|ansi2html }}</pre>
<hr class="half-hr" />
<br />
{% endif %} {% if is_pretest %}
<h3>{{ _('Pretest Execution Results') }}</h3>
{% else %}
<h3>{{ _('Execution Results') }}</h3>
{% endif %}
<br />
<div class="source-wrap">
  <table>
    <tr>
      <td class="source-ln">
        <div>
          {% for line in raw_source.split('\n') %}
          <a href="#line-{{ loop.index }}" name="line-{{ loop.index }}">
            <pre class="line">{{ loop.index }}</pre>
          </a>
          {% endfor %}
        </div>
      </td>
      <td class="source-code">{{ highlighted_source }}</td>
    </tr>
  </table>
</div>

{% endif %} {% else %} {% include "submission/internal-error-message.html" %} {%endif %}
