{% extends "base.html" %}

 
{% block media %}
    <link rel="stylesheet" href="{{ static('login.css') }}">
{% endblock %}

{% block body %}
    <div class="auth-flow-form">
        <div class="container ">
        <form action="" method="post"  class="login-form">
                <h2>{{_('Welcome to NCC contest!')}}</h2>
             {% csrf_token %}
            {% if form.errors %}
                <div id="form-errors">
                    <p class="error">{{ _('Invalid username or password.') }}</p>
                </div>
            {% endif %}
            <div class="input-group">
                {{ form.username }}
                <label for="username">{{ _('Username') }}</label>
            </div>
            <div class="input-group">
                {{ form.password }}
                <label for="password">{{ _('Password')}}</label>
            </div>
            <a href="{{ url('password_reset') }}" class="forgot-password">{{ _('Forgot your password?') }}</a>
            <button type="submit" class="login-btn">{{ _('Login!') }}</button>
            <div class="separator">
                <hr>
                <span>Or</span>
                <hr>
            </div>
            <a href="{{ url('social:begin', "google-oauth2") }}?next={{ next }}" >
                  <div class="google-login-btn">
                <img src="{{ static('icons/pngegg.png') }}"
                    alt="Google logo" onerror="this.src=&quot;{{ static('icons/pngegg.png') }}&quot;; this.onerror=null" style="width:60px;height:40px;border: none"> 
                <span>{{_('Login with Google')}}</span>
            </div>
            </a>
          
            <div class="signup-link">
                <p>{{_("Don't have an account?")}} <a  href="{{ url('registration_register') }}">{{_('Sign up')}}</a></p>
            </div>
        </form>
    </div>
    </div>
   
{% endblock %}
