{% extends "base.html" %}

 
{% block media %}
    <link rel="stylesheet" href="{{ static('login.css') }}">
   <style>
        body {
            -ms-overflow-style: none; 
            scrollbar-width: hidden;  
        }

        body::-webkit-scrollbar {
            display: none;  
        }

        .debug {
            -ms-overflow-style: none;  
            scrollbar-width: none; 
        }

        .debug::-webkit-scrollbar {
            display: none;  
        }
   </style>
{% endblock %}

{% block body %}
    <div class="auth-flow-form">
        <div class="container ">
        <form action="" method="post"  class="login-form">
                <h2>{{_('Welcome to NCC contest!')}}</h2>
             {% csrf_token %}
            {% if messages %}
                <div id="form-errors">
                    {% for message in messages %}
                        <p class="error">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.errors %}
                <div id="form-errors">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    <p class="error">{{ _('Invalid username or password.') }}</p>
                </div>
            {% endif %}
            <div class="input-group">
                {{ form.username }}
                <label for="username">{{ _('Username') }}</label>
            </div>
            <div class="input-group">
                {{ form.password }}
                <label for="password">{{ _('Password')}}</label>
            </div>
            <a href="{{ url('password_reset') }}" class="forgot-password">{{ _('Forgot your password?') }}</a>
            <button type="submit" class="login-btn">{{ _('Login!') }}</button>
            <div class="separator">
                <hr>
                <span>OR</span>
                <hr>
            </div>
            <a href="{{ form.mezon_auth_url }}" >
                  <div class="mezon-login-btn">
                <img src="{{ static('icons/logo_mezon.webp') }}"
                    alt="Mezon logo" onerror="this.src=&quot;{{ static('icons/logo_mezon.webp') }}&quot;; this.onerror=null" style="height:40px;border: none"> 
                <span>{{_('Login with Mezon')}}</span>
            </div>
            </a>
          
            <div class="signup-link">
                <p>{{_("Don't have an account?")}} <a  href="{{ url('registration_register') }}">{{_('Sign up')}}</a></p>
            </div>
        </form>
    </div>
    </div>
   
{% endblock %}
